__pycache__/
.DS_Store
wandb/
.idea
*.pt
output*/
VAT/
MPIIFaceGaze/
Columbia/
GazeFollow/
gazefollow_extended/
GOOReal/
GOOSync/
GazeFollow360/
EYEDIAP/
results/
data/
*.parquet
.pt
.pth
*.jpg
*.png
*.mkv
*.mp4

