__pycache__/
.DS_Store
.idea
*.pt
output*/
VAT/
MPIIFaceGaze/
Columbia/
GazeFollow/
EYEDIAP/
ChildPlay-gaze/
GazeFollow360/
results/
data/
*.parquet
.pt
.pth
*.jpg
*.png
*.mkv
*.mp4
wandb/
gazefollow_extended/
